<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Resfull Silex">
    <meta name="author" content="Luis Alberto Concha Curay">
    <title>{% block title %} Silex {% endblock %}</title>

    <link href="{{ app.request.basepath }}/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ app.request.basepath }}/assets/css/navbar.css" rel="stylesheet">
    <link href="{{ app.request.basepath }}/assets/css/style.css" rel="stylesheet">

    {% block stylesheet %} {% endblock %}


</head>

<body>

<div class="container">

    <!-- Static navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('index') }}">Silex</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Clientes <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{ path('clientes') }}">Listar</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>

    <div class="jumbotron">
        {% block nomePagina %} <h1>nome padrão do layout</h1> {% endblock %}
    </div>

    <div class="sucessoError">

            {% for alert in app.session.flashbag.get('success') %}
                <div role="alert" class="alert alert-success alert-dismissible fade in">
                    <button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
                    <strong>Aviso:</strong> {{ alert }}
                </div>
            {% endfor %}

        {% for error in app.session.flashbag.get('error') %}
            <div role="alert" class="alert alert-danger alert-dismissible fade in">
                <button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
                <strong>Aviso:</strong> {{ error }}
            </div>
        {% endfor %}

    </div>

    <div class="jumbotron">
        {% block conteudo %} {% endblock %}
    </div>

</div> <!-- /container -->

<div class="footer">
    <footer>LACC - luisconchacuray@gmail.com</footer>
</div>


<script  src="{{ app.request.basepath }}/assets/js/ie-emulation-modes-warning.js"></script>
<script src="{{ app.request.basepath }}/assets/js/jquery.min.js"></script>
<script src="{{ app.request.basepath }}/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="{{ app.request.basepath }}/assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="{{ app.request.basepath }}/assets/js/bootboxjs.min.js"></script>
{% block javascript %} {% endblock %}

</body>
</html>
