{% extends 'layout.twig' %}

{% block title %} List Clientes {% endblock %}

{% block nomePagina %} <h2>Pagina da lista de clientes</h2> {% endblock %}

{% block conteudo %}

    <table class="table table-bordered" id="tblClientes">
        <thead>
        <tr>
            <th><a href="/clienteNew" class="btn btn-primary">Nono registro</a></th>
        </tr>
        <tr>
            <th>id</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Data Cadastro</th>
            <th>Última alteração</th>
            <th>Ação</th>
        </tr>
        </thead>
        <tbody>
        {% if clientes|length >= 1 %}
            {% for cliente in clientes %}
                <tr>
                    <th scope="row">{{ cliente.id }}</th>
                    <td>{{ cliente.nome }}</td>
                    <td>{{ cliente.email }}</td>
                    <td>{{ cliente.createdAt|date("m/d/Y H:i:s") }}</td>
                    <td>{{ cliente.updatedAt|date("m/d/Y H:i:s") }}</td>
                    <td>
                        <a href="clienteUpdate/{{ cliente.id }}"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></a>
                        <a href="clienteDelete/{{ cliente.id }}" id="btnDelete" data-id="{{ cliente.id }}"><span aria-hidden="true" class="glyphicon glyphicon-remove"></span></a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="6"> <span class="label label-warning center-block">Não existem registros cadastrados</span></td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}

{% block javascript %}
    <script src="{{ app.request.basepath }}/assets/js/clientes/clientes.js"></script>
{% endblock %}