{% extends 'layout.twig' %}

{% block title %} Alterar Clientes {% endblock %}

{% block nomePagina %} <h2>Formulário de cadastro de Clientes</h2> {% endblock %}

{% block conteudo %}
    <form class="form-horizontal" action="/addCliente" method="post">

        <div class="form-group">
            <label for="inputNome" class="col-sm-2 control-label">Nome</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="nome" name="nome" placeholder="Informe o nome" >
            </div>
        </div>
        <div class="form-group">
            <label for="inputNome" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="email" name="email" placeholder="Informe o email">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-warning">Salvar</button>
            </div>
        </div>
    </form>

{% endblock %}