{% extends 'layout.twig' %}

{% block title %} Alterar Clientes {% endblock %}

{% block nomePagina %} <h2>Formulário de alterar Clientes</h2> {% endblock %}

{% block conteudo %}
    <form class="form-horizontal" action="/updateCliente" method="post">
        <input name="id" value="{{ cliente.id }}" type="hidden"/>
        <div class="form-group">
            <label for="inputNome" class="col-sm-2 control-label">Nome</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="nome" name="nome" placeholder="Informe o nome" value="{{ cliente.nome }}">
            </div>
        </div>
        <div class="form-group">
            <label for="inputNome" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="email" name="email" placeholder="Informe o email"  value="{{ cliente.email }}">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-warning">Salvar</button>
            </div>
        </div>
        <input type="hidden" name="_method" value="put" />
    </form>

{% endblock %}